form   { display: table;}
p 	   { display: table-row;}
label  { display: table-cell;}
span   { display: table-cell;
		 padding-left: 10px;}
input  { display: table-cell;
		 border: 1px solid grey;
		 width: 250px;}
input#submit {
	width: 150px;
}